@import "tailwindcss";




  .image-fix {
    height: auto ;
  }

  
  .display-card {
    width: 330px;
    height: 500px;
  }

  .display-card img {
    width: 330px;
    height: 300px;
  }


@media (min-width: 768px) {
     .image-fix {
      height: 250px ;
  }
}

@media (min-width: 1024px ) {
    .image-fix {
      height: 300px ;
  }
}


@media (min-width: 1440px ) {
    .image-fix {
      height: 400px ;
  }
}


