@import "tailwindcss";




  span .image-fix {
    height: auto !important;
  }

  
  .display-card {
    width: 330px;
    height: 500px;
  }

  .display-card img {
    width: 330px;
    height: 300px;
  }


@media (min-width: 768px) {
     span   .image-fix {
      height: 250px !important;
  }
}

@media (min-width: 1024px ) {
    span .image-fix {
      height: 300px !important;
  }
}

