@import "tailwindcss";


@media (min-width: 375px ) {
  .image-fix {
    height: auto;
  }
}

@media (min-width: 768px) {
     .image-fix {
      height: 250px;
  }
}

@media (min-width: 1024px ) {
     .image-fix {
      height: 300px;
  }
}

